<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Is She Into You?</title>
    <link rel="stylesheet" href="stylesheets/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script src="javascripts/home.js"></script>
</head>
<body>
    <div class="center-div" id="home-div">
        <h1>Is she into you?</h1>
        <h2>Enter her messages to find out.</h2>
        <textarea id="message" maxlength="1500"></textarea>
        <h4 id="encourage-msg"></h4>
        <button id="check-button" class="ui button">Check</button>
    </div>
    <div class="center-div" id="results-div" style="visibility: hidden">
        <h2 id="intro-msg"></h2>
        <h1 id="result">She's <span id="into-you"></span> into you.</h1>
        <h2><span id="percent-confident"></span> confident that she's <span id="into-or-not"></span> into you.</h2>
        <h3 id="outro-msg"></h3>
        <button id="try-again" class="ui button">Try Another Message</button>
        <div id="buzz-words">
            <h4>Buzz words:</h4>
        </div>
    </div>
</body>
</html>